/* CSS Document */

/*pBasic*/
.pBasic{
	font:12/1.5, Arial, sans-serif;
}
.pBasic a{
	text-decoration:none;
	color:#333;
	cursor:pointer;	
}
.pBasic span{
	padding:0px 5px;	
}
.pBasic .firstPage{
	padding:0px 5px;	
}
.pBasic .prePage{
	padding:0px 5px;	
}
.pBasic .nextPage{
	padding:0px 5px;	
}
.pBasic .page{
	padding:0px 2px;	
}
.pBasic .recordNum{
	padding:0 3px;
	color:#800000;
	font-weight:bold;	
}